<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WsdlPlugInDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WsdlPlugInDemo.Properties.Settings>
            <setting name="InsideChannel" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OutsideChannel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AcChannel" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="Hysterisis" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CoolingThreshold" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="InsideSetpoint" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="AcSetpoint" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="FanDisablesAc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="X10WindowFan" serializeAs="String">
                <value>j,11</value>
            </setting>
            <setting name="X10MixingFan" serializeAs="String">
                <value>j,12</value>
            </setting>
            <setting name="X10Ac" serializeAs="String">
                <value>j,16</value>
            </setting>
            <setting name="X10AcMixingFan" serializeAs="String">
                <value>j,15</value>
            </setting>
        </WsdlPlugInDemo.Properties.Settings>
    </userSettings>
</configuration>