<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JimsX10.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JimsX10.Properties.Settings>
            <setting name="TStatCoolAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="TStatHeatAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="TStatMixAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="TStatRainAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="TStatHumidAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="TStatMaxTemp" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="TStatMinTemp" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TStatMaxSplit" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TStatRainMin" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="TStatHumidity" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TStatUsaApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TStatBarnCoolAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="TStatBarnDesMax" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="TStatBarnDesMin" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TStatBarnHeatAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="TStatBarnUseApp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TStatBarnSensor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TStatFreshAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="TStatMaxDP" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="TempSensorCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBoxes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>True</string>
                        <string>False</string>
                        <string>False</string>
                        <string>False</string>
                        <string>False</string>
                        <string>False</string>
                        <string>False</string>
                        <string>False</string>
                        <string>False</string>
                        <string>False</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AutoDesHumidity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TUnitsdegF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FireSensor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FireSendCommandOnce" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FireOutdoorMin" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FireplaceAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="FireplaceFanAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="FireDesiredMin" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FireHysteresis" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="UseFireFan" serializeAs="String">
                <value>True</value>
            </setting>
        </JimsX10.Properties.Settings>
    </userSettings>
</configuration>